<footer>
    <h2>CONTACT US :</h2>
    <a href="mailto:info@all1zed.com">
        <p>Email: info@all1zed.com </p>
    </a>
    <a href="tel:+260762888000">
        <p>Tel: +260 762 888 000</p>
    </a>
    <h2>Address</h2>
    <p>Lotti House, 8th Floor, Unit 813, Cairo Road, Lusaka, Zambia.
    </p>
    <div class="profile_details"></div>
</footer>