<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")  %>

    <body>
        <%- include("./partials/nav.ejs")  %>
            <main id="app">



            </main>
            <%- include("./partials/footer.ejs")  %>

                <script src="/main/home.js"></script>
                <script src="/main/detail.js"></script>
                <script src="/main/info.js"></script>
                <script src="/main/login.js"></script>
                <script src="/main/post.js"></script>
                <script src="/main/signup.js"></script>
                <script src="/main/main.js"></script>
                <script src="/main/index.js"></script>
    </body>

</html>