<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")  %>

    <body>
        <%- include("./partials/nav.ejs")  %>
            <main>
                <section class="search">

                    <h2 class="wel">Find your best Property</h2>

                    <form>
                        <input type="text" placeholder="Search an Estate">
                        <button type="submit">
                            <p>Search</p>
                             <i class="fas fa-search-location link"></i>
                        </button>
                    </form>
                    <h2 class="check">
                        <div class="checked"><i class="fas fa-check"></i></div>
                        <p>The most popular and trusted property for Rent or Sale in Zambia</p>
                    </h2>
                    <section class="showSearches">
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/6.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/2.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/3.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/4.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/1.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/5.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/3.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/6.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/1.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/3.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/2.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                        <section class="showSearch">
                            <div class="goal">
                                <p>Rent</p>
                            </div>
                            <div class="image"><img src="/images/6.jpeg" alt="" srcset=""></div>
                            <div class="detail">
                                <h2>3 BEDROOMED HOUSE</h2>
                                <p>Location: Mukushi</p>
                            </div>
                        </section>
                    </section>
                </section>
            </main>
            <%- include("./partials/footer.ejs")  %>
                <script src="/main/index.js"></script>
    </body>

</html>